a.tag {
    text-decoration: none;
    text-color: #FFFFFF;
}

.highlight {
    background-color: yellow;
}

.message {
    height: 150px;
    min-height: 150px;
    overflow: auto;
    resize: vertical;
}

.overflow_auto {
    overflow: auto
}