body {
	font-family: sans-serif;
	font-size: 10pt;
	color: black;
	text-align: center;
}

h1 {
	font-size: 14pt;
}

a {
    color: black;
	text-decoration: none;
	cursor: default;
}

a:HOVER {
	text-decoration: underline;
}

label {
	font-weight: bold;
	display: inline-block;
	padding-bottom: 5pt;
    padding-top: 15pt;
}

input {
    margin-top: 15pt;
	display: inline-block;
	border: 1px solid gray;
}

input[type=text] {
    width: 409pt;
}

.error {
	color: red;
	font-style: italic;
}

.container, .button, .button_big {
    padding: 5pt;
	display: inline-block;
    border-radius: 5px;
    border: 1px solid #898989;
    margin: 5px;
    text-align: center;
}

.button:HOVER {
    background-color: #BCD2EE;
}

.button_big:HOVER {
    background-color: #E8E8E8;
}

.container {
    background-color: #E8E8E8;
}

.button {
    background-color: #ffffff;
}

.button_big {
	background-color: #BCD2EE;
}

.tags {
	font-style: italic;
	font-size: 8pt;
	color: #898989;
}