body {
	font-family: sans-serif;
	font-size: 10pt;
	color: black;
	text-align: center;
}

h1 {
	font-size: 14pt;
}

a {
    color: #898989;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

label {
	padding-bottom: 5pt;
    padding-top: 15pt;
}

input {
	border: 1px solid gray;
}

input[type=text] {
    width: 409pt;
}

.error {
	color: red;
	font-style: italic;
}

.container {
    padding: 5pt;
	display: inline-block;
    border-radius: 5px;
    border: 1px solid #898989;
    margin: 5px;
    text-align: center;
}

.button_big {
    padding: 10pt;
	background-color: #dedede;
}
